.folding-left-btn {
  width: 40px;
  height: 40px;
  background-color: var(--color-highlight);
  position: absolute;
  top: 48px;
  left: 302px;
  z-index: 2;

  border: none;

  cursor: pointer;
}

.folding {
  position: absolute;
  left: 0px;
}
